*{
    margin: 0;
    padding: 0;
    overflow: auto;
    box-sizing: border-box;
}
img{
    vertical-align: bottom;
    
}
.all{
    text-align: center;
}
.top{
    margin-bottom: 20px;
}
.top h3{
    color: #ECB807;
    font-weight: bold;
    margin: 10px;
    font-size: 16px;
}
.top h2{
    color: #212529;
    font-size: 46px;
}
.bottom{
    width: 80%;
    margin: auto;
}
.bottom .box{
    width: 50%;
    float: left;
    transition: 0.5s;

}
.box:hover{
    opacity: 0.7;
   transform: scale(0.8);
    
}
.box img{
    width: 100%;
    transition: 0.5s;
}
.pagebtm{
    background-color: #1d809f;
    padding: 200px;
    text-align: center;
}
.pagebtm h3{
    color: #ECB807;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}
.pagebtm h2{
    color: #fff;
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 70px;
}.pagebtm div{
    float: left;
    width: 25%
}
.pagebtm div strong{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}
.pagebtm div p{
    margin-top: 20px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}